<h1>Add Producto</h1>

<form action="/products/addProduct" method="post">
    nombre: <input type="text" name="nombre" id="nombre"/>
    grupo: <input type="text" name="grupo" id="grupo"/>
    <input type="submit" value="CREAR"/>
</form>