<!-- Tarjetas de productos -->
<h1>Bienvenido al carrito</h1>
<h2>{{user.cart}}</h2>
<button type="button" class="button button-add-to-cart" onclick="location.href='/products'">Volver a Catalogo</button>