<form class="row g-3 m-2"  method="post" id="formJWT">
    <h1>JWT</h1>
    <div class="col-auto">
        <label for="staticEmail2" class="visually-hidden">Email</label>
        <input type="email" name="email" id="email" class="form-control" value="email@example.com"/>
    </div>
    <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password"/>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Generar Token</button>
    </div>
</form>

<button class="btn btn-primary m-3" id="botonTokenInCookie">Validar Token Cookie</button>

<script src="/js/jwt.js"></script>

{{!-- action="/users/login" --}}