<div class="row g-3 m-2">
    <h2>Bienvenido {{user.first_name}}</h2>
    <h2>Role: {{user.role}}</h2>
    <button onclick="location.href='/users/logout'" class="btn btn-primary mb-3">LOGOUT</button>
</div>